<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{category}}">
    <ion-content class="padding" overflow-scroll="true">
        <div id="map-canvas"></div>
        <!--
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
-->
            <ul class="list" ng-repeat="thread in nearbyThreads" ng-hide="{{thread.id}} findDistance(thread, $scope)">
                <li class="item item-avatar">
                    <img src="http://ionicframework.com/img/ionic-logo-blog.png">
                    <h2>{{thread.title}}</h2>
                    <p>{{thread.desc}}</p>
                </li>
            </ul>
            <form ng-hide="showThreadAdd">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Title" ng-model="nearbyThread.title">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Description" ng-model="nearbyThread.desc">
                    </label>
                    <button class="button button-block button-assertive" ng-click="add(nearbyThread)">
                        Add Thread Nearby
                    </button>
                </div>
            </form>
    </ion-content>
</ion-view>