<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{category}}">

    <form ng-hide="showThreadAdd" style="position: absolute; bottom: 45px; width: 100%">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type something here..." maxlength="140" ng-model="nearbyThread.desc">
            </label>
            <button class="button button-small" ng-click="add(nearbyThread)">
                Post
            </button>
        </div>
    </form>
    <ion-content class="padding chat" overflow-scroll="true">
        <div id="map-canvas"></div>
        <!--
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
-->
        <ul class="list" ng-repeat="thread in nearbyThreads">
            <li class="item item-avatar">
                <img src="http://ionicframework.com/img/ionic-logo-blog.png">
                <p>{{thread.creator}}</p>
                <h2>{{thread.desc}}</h2>
                <p>{{thread.votes}} Votes</p>
                <button class="button button-assertive" ng-click="addVote(thread)">Vote!</button>
            </li>
        </ul>
    </ion-content>
</ion-view>