<ion-view view-title="Your Groups">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/ionic.png">
                <h2>AP Physics</h2>
                <p>Group for AP Physics!</p>
            </div>
            <div class="item item-image">
                <img src="../img/physics.jpg">
            </div>
            <a class="item item-icon-left positive" href="#">
                <i class="icon ion-ios7-arrow-forward"></i>
                Jump In!
            </a>
        </div>
    </ion-content>
</ion-view>
