<ion-view view-title="{{thread.title}}" class="has-header" hi>
    <form style="position: absolute; bottom: 45px; width: 100%">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type something here..." maxlength="140" ng-model="post.content">
            </label>
            <button class="button button-small" ng-click="submitPost(post)">
                Post
            </button>
        </div>
    </form>
    <ion-content class="has-header chat" padding="false" overflow-scroll="true">
        <div class="list">
            <div class="item item-text-wrap item-avatar"  ng-repeat="comment in comments">
                <img src="http://ionicframework.com/img/ionic-logo-blog.png">
                <h2>{{comment.user}}</h2>
                <p>{{comment.message}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>