<ion-view view-title="Your Groups">
    <ion-content class="padding" overflow-scroll="true">
        <div class="list card" ng-repeat="feed in feeds" type="item-text-wrap" href="#/tab/feed/{{feed.id}}">
            <div class="item item-avatar">
                <img src="../img/ionic.png">
                <h2>{{feed.title}}</h2>
                <p>{{feed.desc}}</p>
            </div>
            <!--
            <div class="item item-image">
                <img src="../img/{{feed.id}}.png">
            </div>
-->
            <a class="item item-icon-left positive" href="#/tab/feed/{{feed.id}}">
                <i class="icon ion-ios7-arrow-forward"></i>
                Jump In!
            </a>
        </div>
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="post.title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="post.desc">
                </label>
                <button class="button button-block button-royal" ng-click="add(post)">
                    Add Post
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
