<!--
     This view loads the categories of nearby threads, namely food, education, weather, shopping and entertainment. All nearby posts are 
     organized into these categories. Clicking on a category takes you to all the nearby posts about that category.
-->

<ion-view view-title="Local Threads">
    <ion-content overflow-scroll="true">
        <a ng-repeat="category in categories" href="#/tab/nearby/{{category.$id}}">
            <div class="list" type="item-text-wrap">
                <div class="item item-avatar">
                    <img src="http://ionicframework.com/img/ionic-logo-blog.png"> {{category.$id}}
                </div>
            </div>
        </a>
    </ion-content>
</ion-view>