<!--
     This view outlines the terms of usage for Threads. It can be accessed from the settings tab.
-->
  
   <ion-view view-title="Rules">
    <ion-content class="padding" overflow-scroll="true">
        <h3>Rules</h3>
        <div>
            <p>1. No explicit content such as pornography.</p>
            <p>2. No overuse of explicit language. </p>
            <p>3. No racist or homophobic commets.</p>
            <p>Any other conentent deemed inappropriate will be deleted.</p>
            <p>If one does not comply with the rules, his or her account will be deleted.</p>
        </div>
    </ion-content>
</ion-view>