<ion-view view-title="Rules">
    <ion-content class="padding" overflow-scroll="true">
        <h3>Rules</h3>
        <div>
            <p>1. No explicit content like pornagraphy.</p>
            <p>2. No overuse of explicit language. </p>
            <p>3. No racist or homophobic commets.</p>
            <p>Any other conentent deemed inappropiate will be deleted.</p>
            <p>If one doesn't comply to the rules their account will be deleted.</p>
        </div>
    </ion-content>
</ion-view>