<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.threads149819" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Threads</name>
  <description>
        A location based social network.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      threads development team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="UIWebViewBounce" value="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <gap:plugin name="org.apache.cordova.geolocation" />
</widget>